<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OCR Quality Check</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

  <div class="container">
    <!-- Left Section -->
    <div class="left">
      <div class="brand"><em style="color: red; font-style: normal">ExxonMobil</em> OCR Competition</div>
      <h1>Welcome to the Next-Generation OCR Data Quality Check Tool <br> Transforming Document Accuracy with Precision & Confidence</h1>
      <p>Leveraging state-of-the-art technology, our tool not only delivers a comprehensive accuracy score but also provides detailed error insights — <em style="color: red; font-style: normal">EM</em>powering you to fine-tune your extraction process for superior results. It even identifies errors in real time.</p>
    </div>

    <!-- Right Section -->
    <div class="right">
      <div class="login-form">
        <h2>Login to your Account</h2>
        <p>Log in now and start your journey to effortless, next-generation document processing.</p>

        <form method="POST" action="/login">
          <label for="username">Email</label>
          <input type="email" name="username" id="username" placeholder="E-mail" required>

          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Password" required>


          <button type="submit">Login</button>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div style="margin-top: 20px" class="{{ category }}-message error-message">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </form>
      </div>
    </div>
  </div>

</body>
</html>
